@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

:root {
  /* Primary */
  --Green-400: hsl(172, 67%, 45%);
  --Green-200: hsl(173, 61%, 77%);

  /* Neutral */
  --Green-900: hsl(183, 100%, 15%);
  --Grey-550: hsl(180, 18%, 40%);
  --Grey-500: hsl(186, 14%, 43%);
  --Grey-400: hsl(184, 14%, 56%);
  --Grey-200: hsl(185, 41%, 84%);
  --Grey-50: hsl(189, 47%, 97%);
  --White: hsl(0, 100%, 100%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 2.4rem;
  color: var(--Green-900);
  background-color: var(--Grey-200);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  padding-bottom: 14rem;
}

header {
  margin-bottom: 8.786rem;
  margin-top: 5rem;
}

.logo {
  width: 8.666rem;
  display: flex;
}

.logo img {
  width: 100%;
}

main {
  background-color: var(--White);
  padding: 3.2rem;
  border-radius: 2.5rem;
  display: flex;
  gap: 4.8rem;
  width: 100%;
  max-width: 92rem;
}

form {
  flex-basis: 50%;
  display: grid;
  gap: 4rem;
}

.form-group {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.8rem;
  position: relative;
}

label {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--Grey-500);
  grid-column: 1/-1;
}

.form-group input {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  border: none;
  background-color: var(--Grey-50);
  text-align: end;
  padding: 0.8rem 1.6rem;
  border-radius: 0.5rem;
}

.form-group label::before {
  content: "";
  display: block;
  width: 1.3rem;
  height: 1.6rem;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  bottom: 1.7rem;
  left: 1.7rem;
  cursor: pointer;
}

.form-group:has(#bill) label::before {
  background-image: url(/images/icon-dollar.svg);
}

.form-group:has(#people) label::before {
  background-image: url(/images/icon-person.svg);
}

.radio-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}

input[type="radio"] {
  display: none;
}

.tip-label {
  grid-column: auto;
  height: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--Green-900);
  border-radius: 0.5rem;
  color: var(--White);
  font-size: 2.4rem;
  line-height: 3.6rem;
  transition: all 0.2s ease;
  cursor: pointer;
}

.tip-label:hover {
  background-color: var(--Green-200);
  color: var(--Green-900);
}

#tip--custom + label {
  background-color: var(--Grey-50);
  color: var(--Grey-550);
}

input[type="radio"]:checked + label {
  background-color: var(--Green-400);
  color: var(--Green-900);
}

#custom {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  border: none;
  background-color: var(--Grey-50);
  text-align: center;
  padding: 0 1.6rem;
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
  display: none;
}

/* #custom::placeholder {
  color: var(--Grey-550);
} */

.radio-group:has(#tip--custom:checked) #custom {
  display: block;
}

#tip--custom:checked + label {
  display: none;
}

.results {
  flex-basis: 50%;
  background-color: var(--Green-900);
  color: var(--White);
  border-radius: 1.5rem;
  padding: 2.4rem 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.result {
  display: grid;
  grid-template-columns: auto auto;
}

.result h2 {
  font-size: 1.6rem;
  line-height: 2.4rem;
  align-self: self-end;
}

.result .sub {
  color: var(--Grey-400);
  font-size: 1.3rem;
  line-height: 1.9rem;
}

.result .value {
  grid-column: 2/-1;
  grid-row: 1/3;
  color: var(--Green-400);
  font-size: 4.8rem;
  line-height: 7.1rem;
  letter-spacing: -0.1rem;
  justify-self: flex-end;
}

.results button {
  font-family: inherit;
  font-size: 2rem;
  font-weight: inherit;
  text-transform: uppercase;
  height: 4.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Green-400);
  color: var(--Green-900);
  border-radius: 0.5rem;
  border: none;
  margin-top: auto;
  cursor: pointer;
}

@media (max-width: 890px) {
  body {
    padding-bottom: 0;
  }

  header {
    margin-bottom: 4.86rem;
  }

  main {
    flex-direction: column;
    max-width: 60.8rem;
    padding: 4.8rem 8rem;
  }

  .result .value {
    font-size: 3.2rem;
    line-height: unset;
    letter-spacing: -0.067rem;
  }
}

@media (max-width: 586px) {
  main {
    padding: 3.4rem 2.4rem;
    border-radius: 2.5rem 2.5rem 0 0;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 343px) {
  html {
    font-size: 45%;
  }
}

@media (max-width: 280px) {
  html {
    font-size: 35%;
  }
}
